:root
{
    --dark-background-color: #1F2937;
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-text-color: #E5E7EB;
    --header-logo-text-color: #F9FAF8; 
    --information-header-text-color: #1F2937;
    --quote-section-background-color: #E5E7EB;
    --quote-text-color: #1F2937;

}

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header
{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 10px 175px;
    align-items: center;
}

.header__logo
{
    color: var(--header-logo-text-color);
    font-weight: bold;
    font-size: 24px;
}

ul 
{
    display: flex;
    list-style: none;
    gap: 15px;
}

a
{
    text-decoration: none;
    color: #F9FAF8;
    font-weight: light;
    font-size: 15px;
}

.body1
{
    background-color: var(--dark-background-color);
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 175px;
}

.body1__container
{
    display: flex;
    height: 165px;
}

.body1__container__left
{
    flex: 1;
}

.hero-main-text
{
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.hero-secondary-text
{
    color: white;
    font-size: 15px;
}

.sign-up-btn
{

    padding: 5px 28px;
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.body1__container__right
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(135, 135, 138);
    flex: 1;
}

.body2
{
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

.illustrations-container
{
    max-width: 750px;
    display: flex;
    gap: 40px;
}

.information-header-text
{
    margin: 30px 0px;
    font-weight: bold;
    font-size: 27px;
}

.illustration-item-container
{
    width: 130px;
}

.illustration-image
{
    border: #3882F6 solid 3px;
    border-radius: 10px;
    height: 120px;
    max-width: 120px;
}

.illustration-subtext
{
    margin-top: 5px;
    color: gray;
    font-size: 14px;
}

.body3
{
    flex: 1 1 0;
    background-color: var(--quote-section-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container
{
    max-width: 600px;
}

.quote
{
    font-size: 27px;
    font-weight: lighter;
    font-style: italic;
}

.quoter
{
    font-weight: bold;
    justify-content: flex-end;
    text-align: end;
}

.bottom
{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}


.body4
{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-container
{
    min-width: 750px;
    min-height: 105px;
    background-color: #3882F6;
    color: white;
    display: flex;
    border-radius: 7px;
    align-items: center;
    justify-content: space-evenly;
}

.sign-up-header
{
    font-weight: 18px;
    font-weight: bold;
}

.sign-up-subtext
{
    font-size: 14px;
    font-weight: 300;
}

.sign-up-btn-2
{
    background-color: #3882F6;
    border: solid white 1px;
    padding: 6px 25px;
    border-radius: 6px;
    color: white;
}

.footer
{
    flex: 1;
    background-color: var(--dark-background-color);
    color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

}